
<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title">Melhor cerveja por temperatura</h5>
    <h6 class="card-subtitle mb-2 text-muted">Encontre a melhor cerveja para a sua temperatura preferida</h6>

    <%= form_with(url: menu_resultado_cerveja_por_temperatura_path, method: 'post', local: true) do |form| %>
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Temperatura em °C:</div>
          </div>
          <%= text_field_tag :temperature, nil, placeholder: 'Ex.: -2', class: 'form-control' %>
        </div>
      </div>
      <%= button_tag 'Calcular', class: 'btn btn-success' %>
    <% end %>

  </div>
</div>